.App {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 10rem;
}

.react-chatbot-kit-chat-message-container {
  background-color: whitesmoke;
  border: 1px solid black;
}

.react-chatbot-kit-chat-input {
  background-color: whitesmoke;
  border: 1px solid black;
}
